.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container input {
    margin: 20px 0;
}

.container p {
    text-transform: capitalize;
}

.container select {
    padding: 8px;
    font-size: 2em;
}

.container button {
    padding: 12px;
    margin-top: 20px;
    font-size: 2em;
}
